body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 15px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

h3, h4, h2 {
  font-weight: 600;
}
